*{margin:0px;padding:0px;}
ul,li{list-style-type:none;}
input{outline: none;border-radius: 0px;border:0 none;}
html,body {
    min-height: 100%;
    overflow-x:hidden;
	-webkit-tap-highlight-color:rgba(0,0,0,0);	/*禁止链接高亮*/ 	
	-webkit-touch-callout:none;	/*禁止链接长按弹出选项*/
    background-color:#f5f5f9;
    line-height: normal !important;
}
.null-item {
    width: auto;
    height: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
}
.am-modal-body {color: #000 !important;}
.hide {display: none;}
.height-hide {height:0px;overflow:hidden;}